body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#one {
    height: 100px;
    width: 100px;
}

#two {
    height: 100px;
    width: 100px;
}

#three {
    height: 100px;
    width: 100px;
}

#four {
    height: 100px;
    width: 100px;
}

#five {
    height: 100px;
    width: 100px;
}

#six {
    height: 100px;
    width: 100px;
}

#seven {
    height: 100px;
    width: 100px;
}

